.calculator{
    width: 90%;
    max-width: 800px;
    margin:3rem auto;
}
.calculatorBody{
    width: 100%;
    text-align: center;
}
.calculatorBody form{
    margin-top: 2rem;
}
.calculatorBody form h2{
    color: var(--text-col);
    font-family: var(--ff-oswald);
}
.formInputs--firstSet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 2rem;

}
.formInputs--lastSet{
    width: 100%;
    margin-top: 2rem;
}

.formInputs--lastSet h2{
    color: var(--text-col);
    font-family: var(--ff-oswald);
}
.formInputs--lastSet h2 em{
    font-weight: 400;
    text-decoration: underline;
}
.calculator h1{
    color: var(--text-col);
    font-family: var(--ff-oswald);
}
.miniOptions{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:1.5rem;
    margin-top: 1rem;
}
.miniOptions div:first-child{
    width: 100%;
    max-width: 150.91px;
}
.miniOptions div:nth-child(3){
    width: 100%;
    max-width: 187.76px;
}
.miniOptions div:last-child{
    width: 100%;
    max-width: 130.42px;
}
.spanEditor{
    position: relative;
    width:inherit;
    display: flex;
}
.spanEditor button{
    position: absolute;
    font-size: 0.7rem;
    width: 40px;
    height: 40px;
    padding: 0.1rem;
    bottom: -45px;
    right: -20px;
    background-color: var(--text-col);
    color: var(--bg-col);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.456);
}